@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #f4f4f4 !important;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 30px;
  background-color: #fff;
  border-radius: 30px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40vw;
}

.search_input {
  color: #101010;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 10px;
  padding: 0 6px;
  width: 96%;
  caret-color: #101010;
  margin-bottom: 5px;
  margin-top: 6px;
  font-size: 80%;
}

.search_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
  height: 16px;
  width: 4%;
  float: right;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #101010;
  text-decoration: none;
}

nav {
  background: #2F79C6;
}

nav .navbar-brand {
  color: #fff;
  margin-left: 30px;
  font-weight: bold;
}

nav .navbar-toggler-icon {
  color: #fff;
}

.col-md {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 !important;
          flex: 0 !important;
}

.container-fluid {
  max-width: 80vw !important;
}

.card {
  margin: 0rem, 0rem !important;
  padding-bottom: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 200px !important;
  max-width: 200px !important;
  min-height: 300px;
  height: auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card .store-img img {
  position: relative;
  width: auto;
  height: auto;
  max-width: 4rem;
  max-height: 2rem;
  padding-top: 10px;
}

.card .prod-img {
  text-align: center;
}

.card .prod-img img {
  position: relative;
  margin-top: 1rem;
  width: auto;
  height: 7rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card .prod-name {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.card .prod-price {
  text-align: center;
  margin-top: 1rem;
  vertical-align: middle;
}

.card .prod-price span {
  vertical-align: middle;
}

.card .prod-price .prod-current-price {
  font-size: 1rem;
  font-weight: 450;
  color: #101010;
}

.card .prod-price .prod-old-price {
  color: #505050;
  font-size: 0.75rem;
  font-weight: 400;
  padding-right: 10px;
  text-decoration: line-through;
}

.card .price-date {
  text-align: center;
  font-size: 0.75rem;
  color: #707070;
}

.card .prod-btn {
  width: 100%;
}

.card .prod-btn .to-store {
  float: left;
  display: inline;
  margin-top: 1rem;
  width: 45%;
  height: 30px;
  background: #40E547;
  border-radius: 20px;
  border-style: none;
}

.card .prod-btn .to-store a {
  color: #101010;
  text-decoration: none;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
}

.card .prod-btn .to-popup {
  float: right;
  display: inline;
  margin-top: 1rem;
  width: 50%;
  height: 30px;
  background: #FFD700;
  border-radius: 20px;
  border-style: none;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
}

.shop-logo {
  max-height: 100px;
  max-width: 100px;
  border-radius: 2px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carder {
  width: 600px;
  height: 70px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 0.75rem;
}

.carder h2, h5 {
  text-align: center;
  color:#f4f4f4;
}

.carder .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#2F79C6, #2F79C6);
  transition: 0.6s;
  overflow: hidden;
  z-index: 2;
}

.carder:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.carder .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.carder .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.carder .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.carder .additional .more-info h1 {
  color: #fff;
}


.carder .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}


.carder .additional .coords span + span {
  float: right;
}

.carder .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.carder .additional .stats > div {
  flex: 1;
  text-align: center;
}

.carder .additional .stats i {
  display: block;
}

.carder .general .more {
  position: absolute;
}

#popup-dialog {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
}

#popup-dialog #popup-content {
  border: none !important;
  border-style: none !important;
}

#popup-dialog #popup-content #popup-body .best-price {
  -webkit-box-shadow: 0px 0px 2px 3px #FFD700;
          box-shadow: 0px 0px 2px 3px #FFD700;
}

#popup-dialog #popup-content #popup-body .best-price .popup-store-img {
  margin-top: 1rem;
  text-align: center;
  height: 40px;
}

#popup-dialog #popup-content #popup-body .best-price .popup-store-img img {
  position: relative;
  width: auto;
  height: auto;
  max-width: 8rem;
  max-height: 4rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#popup-dialog #popup-content #popup-body .best-price .popup-prod-name {
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

#popup-dialog #popup-content #popup-body .best-price .popup-prod-price {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 450;
  color: #101010;
}

#popup-dialog #popup-content #popup-body .best-price .popup-store-btn {
  margin-top: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#popup-dialog #popup-content #popup-body .best-price .popup-store-btn button {
  width: 140px;
  height: 30px;
  background: #40E547;
  border-radius: 20px;
  border-style: none;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
}

#popup-dialog #popup-content #popup-body .best-price .popup-store-btn a {
  color: #101010;
  text-decoration: none;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
}

#popup-dialog #popup-content #popup-body .other-products .popup-store-img {
  margin-top: 1rem;
  text-align: center;
  height: 40px;
}

#popup-dialog #popup-content #popup-body .other-products .popup-store-img img {
  position: relative;
  width: auto;
  height: auto;
  max-width: 8rem;
  max-height: 4rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#popup-dialog #popup-content #popup-body .other-products .popup-prod-name {
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

#popup-dialog #popup-content #popup-body .other-products .popup-prod-price {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 450;
  color: #101010;
}

.strong-span {
  font-weight: 600 !important; 
  font-size: 1rem;
}

#popup-dialog #popup-content #popup-body .other-products .popup-store-btn {
  margin-top: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#popup-dialog #popup-content #popup-body .other-products .popup-store-btn button {
  width: 140px;
  height: 30px;
  background: #40E547;
  border-radius: 20px;
  border-style: none;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
}

#popup-dialog #popup-content #popup-body .other-products .popup-store-btn a {
  color: #101010;
  text-decoration: none;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
}

.report-btn {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  border-radius: 50px;
  height: 3rem;
  width: 3rem;
  background-color: #FF1515;
}

.load-more {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
  width: 8rem;
  height: 2rem;
  background: #59AAFF;
  border-radius: 20px;
  border-style: none;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  color: #101010;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .searchbar {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  p {
    font-size: 6px;
  }

  .strong-span {
    font-weight: 600;
    font-size: 0.75rem;  
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #popup-dialog {
    max-width: 90% !important;
  }
  .searchbar {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #popup-dialog {
    max-width: 90% !important;
  }

  .searchbar {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #popup-dialog {
    max-width: 90% !important;
  }

  .searchbar {
    width: 60%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #popup-dialog {
    max-width: 70% !important;
  }

}
/*# sourceMappingURL=styles.css.map */