@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #E5E5E5 !important;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  padding: 0 10px;
  border: 1px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40vw;
}

.search_input {
  color: black;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 10px;
  padding: 0 6px;
  width: 96%;
  caret-color: #505050;
  margin-bottom: 5px;
  margin-top: 6px;
  font-size: 80%;
}

.search_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
  height: 16px;
  width: 4%;
  float: right;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #505050;
  text-decoration: none;
}

nav {
  background: white;
}

nav .navbar-brand {
  color: black;
  margin-left: 30px;
  font-weight: bold;
}

nav .navbar-toggler-icon {
  color: black;
}

.col-md {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 !important;
          flex: 0 !important;
}

.container-fluid {
  max-width: 80vw !important;
}

.card {
  margin: 0rem, 0rem !important;
  padding-bottom: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 200px !important;
  max-width: 200px !important;
  height: auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card .store-img img {
  position: relative;
  width: auto;
  max-width: 3rem;
  height: 2rem;
  padding-top: 10px;
}

.card .prod-img {
  text-align: center;
}

.card .prod-img img {
  position: relative;
  margin-top: 1rem;
  width: auto;
  height: 7rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card .prod-name {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.card .prod-price {
  text-align: center;
  margin-top: 1rem;
  vertical-align: middle;
}

.card .prod-price span {
  vertical-align: middle;
}

.card .prod-price .prod-current-price {
  font-size: 1rem;
  font-weight: 450;
  color: black;
}

.card .prod-price .prod-old-price {
  color: #707070;
  font-size: 0.75rem;
  font-weight: 400;
  padding-right: 10px;
  text-decoration: line-through;
}

.card .price-date {
  text-align: center;
  font-size: 0.75rem;
  color: #707070;
}

.card .prod-btn {
  width: 100%;
}

.card .prod-btn .to-store {
  float: left;
  display: inline;
  margin-top: 1rem;
  width: 45%;
  height: 30px;
  background: #FFD700;
  border-radius: 20px;
  border-style: none;
}

.card .prod-btn .to-store a {
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
}

.card .prod-btn .to-popup {
  float: right;
  display: inline;
  margin-top: 1rem;
  width: 50%;
  height: 30px;
  background: #40E647;
  border-radius: 20px;
  border-style: none;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
}

#popup-dialog {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
}

#popup-dialog #popup-content {
  border: none !important;
  border-style: none !important;
}

#popup-dialog #popup-content #popup-body .best-price {
  -webkit-box-shadow: 0px 0px 2px 3px #FFD700;
          box-shadow: 0px 0px 2px 3px #FFD700;
}

#popup-dialog #popup-content #popup-body .best-price .popup-store-img {
  margin-top: 1rem;
  text-align: center;
}

#popup-dialog #popup-content #popup-body .best-price .popup-store-img img {
  position: relative;
  width: auto;
  max-width: 8rem;
  height: 4rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#popup-dialog #popup-content #popup-body .best-price .popup-prod-name {
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

#popup-dialog #popup-content #popup-body .best-price .popup-prod-price {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 450;
  color: black;
}

#popup-dialog #popup-content #popup-body .best-price .popup-store-btn {
  margin-top: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#popup-dialog #popup-content #popup-body .best-price .popup-store-btn button {
  width: 140px;
  height: 30px;
  background: #40E647;
  border-radius: 20px;
  border-style: none;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
}

#popup-dialog #popup-content #popup-body .best-price .popup-store-btn a {
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
}

#popup-dialog #popup-content #popup-body .other-products .popup-store-img {
  margin-top: 1rem;
  text-align: center;
}

#popup-dialog #popup-content #popup-body .other-products .popup-store-img {
  position: relative;
  width: 8rem;
  height: 4rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#popup-dialog #popup-content #popup-body .other-products .popup-store-img img {
  position: relative;
  width: auto;
  height: auto;
  max-width: 8rem;
  max-height: 4rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#popup-dialog #popup-content #popup-body .other-products .popup-prod-name {
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

#popup-dialog #popup-content #popup-body .other-products .popup-prod-price {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 450;
  color: black;
}

#popup-dialog #popup-content #popup-body .other-products .popup-store-btn {
  margin-top: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#popup-dialog #popup-content #popup-body .other-products .popup-store-btn button {
  width: 140px;
  height: 30px;
  background: #40E647;
  border-radius: 20px;
  border-style: none;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
}

#popup-dialog #popup-content #popup-body .other-products .popup-store-btn a {
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
}

.load-more {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
  width: 8rem;
  height: 2rem;
  background: #09e2fa;
  border-radius: 20px;
  border-style: none;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  color: black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #popup-dialog {
    max-width: 100% !important;
  }
  .searchbar {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #popup-dialog {
    max-width: 90% !important;
  }
  .searchbar {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #popup-dialog {
    max-width: 90% !important;
  }
  .searchbar {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #popup-dialog {
    max-width: 90% !important;
  }
  .searchbar {
    width: 60%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #popup-dialog {
    max-width: 70% !important;
  }
}
/*# sourceMappingURL=styles.css.map */